.description{
    font-size: 150%;
    margin: 12% 12% 12% 50%;
}

.titleTab1, .titleTab2{
    text-align: center;
    border-bottom: black;
}

.tables, .tables2{
    background-color: white;
    opacity: 70%;
}

.input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.elements{
    opacity: 80%;
}

.element1, .element2, .element3, .element4{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.background {
    background-image: url("/images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.str{
    transform: scale(0.8);
}
